{% extends 'FrontOfficeConnecte.html.twig'%}

{% block body %}
<center>
<h1 class="font-weight-bold">&#x1F506; Ajouter Matiere &#x1F506;</h1>

{{form(AjouterMatiere)}} 
<br>
<br>
<br>
<td><a href="{{ path('app_aff')}}" class="btn btn-outline-primary">Retour au menu des matières</a></td>
</centre>
<br>
<br>
<br>
<br>


{% endblock %}
