{% extends 'BackOffice.html.twig' %}

{% block footer %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            {{ form(form) }}
        </div>
    </div>

<div class="text-center mt-4">
    <a href="javascript:history.go(-1);" class="btn btn-outline-primary">Retour au menu des cours</a>
</div>
</div>
{% endblock %}
