{% extends 'FrontOfficeConnecte.html.twig'%}


{% block body %}
<center> 
<td>{{form(form)}}</td>
<br>
<br>
<td><a href="{{ path('cour_list')}}" class="btn btn-outline-primary">Retour au menu des matières</a></td>
</center>
{% endblock %}
